////
/// @type color
/// @group color
/// @author Vsevolod Kurochka
////

$color-general: #292929
$color-black: #000
$color-white: #fff
$color-brand-1: #9db3dd
$color-yellow: #ffac2c
$color-red: #ff2322
$color-success: #5cb85c
$color-danger: #d9534f