{% import 'components/navigation/macros.twig' as nav %}
<nav class="nav" id="js-navigation">
    <div class="nav__container container">
        <div class="nav__row">
            <div class="nav__logo">
                <img src="{{ path }}/img/logo.svg" alt="logo">
            </div>
            <div class="nav__addition">

            </div>
        </div>
    </div>
</nav>