{% import 'components/navigation/macros.twig' as nav %}
<nav class="nav" id="js-navigation">
    <div class="nav__container container">
        <div class="nav__row row">
            <div class="nav__logo">
                <img src="{{ path }}/img/logo.svg" alt="logo">
            </div>
            <div class="nav__addition">
                <img src="{{ path }}/img/logo-top.png" class="nav__addition-logo" alt="logo top">
                <div class="nav__addition-item">
                    <p class="nav__addition-title">компания холдинга</p>
                    <img src="{{ path }}/img/logo-mw.png" alt="logo mw" class="nav__addition-item-logo">
                </div>
            </div>
        </div>
    </div>
</nav>