// Button default
$btn-padding: 10px 16px
$btn-font-size: 14px

.btn
  +btn()
  +btn-size($btn-padding, $btn-font-size)

  &_theme
    border-radius: 6px
    padding: 15px 15px
    font-size: 15px
    +min(sm)
      padding: 23px 25px
      font-size: 17px
    span
      text-decoration: underline
    .blue-theme &
      background-image: linear-gradient( 90deg, rgb(255,151,81) 0%, rgb(255,198,0) 100%)
      color: #292929
      box-shadow: 0 7px 13px -2px #c0d6f6

    &:hover
      box-shadow: none
      transform: translateY(3px)

  &_video
    +size(60px)
    &:before
      content: ''
      +a(50%, null, null, 50%)
      transform: translate(-50%, -50%)
      +size(16px)
      +bgi('../img/play.svg')

    .blue-theme &
      box-shadow: 0 9px 13px -3px transparentize(#000, 0.5)

    +min(md)
      +size(85px, 70px)