{% import 'macros/landing.twig' as landing %}
<section class="home-remember">
  <div class="container">
    <div class="home-remember__grid">
      <div class="home-remember__content">
        <h2 class="section__title home-remember__title">Важно!</h2>
        <div class="home-remember__subtitle">
          <p>Международная компания только в 2020 году выходит на рынки России, Украины, Белоруссии и Молдовы.</p>
          <p>Быть одним из первых представителей в этих рынках означает не просто неограниченные возможности дохода, но и колоссальное преимущество в короткие сроки с нуля выстроить бизнес до огромного масштаба, на который при заполненном рынке могли бы уйти годы.</p>
          <p>Не упустите возможность освоить объем потенциальных клиентов и партнеров в еще пока ненадолго пустом рынке.</p>
        </div>
        <div class="home-remember__button-outer">
          <button
              class="btn btn_theme btn_theme-black-shadow home-remember__button"
              data-action="modal"
              data-open="#free-consultation">Получить <span>бесплатную</span> консультацию</button>
        </div>
      </div>
    </div>
  </div>
</section>