{% import 'macros/landing.twig' as landing %}

<section class="section home-buy">
    <div class="container">
        <div class="home-buy__content">
            {{ landing.image(image, 'buy image', 'home-buy__bg') }}
            <p class="home-buy__title">
                Что люди <strong class="home-buy__title-highlight">не перестанут<br>
                делать никогда</strong>, независимо<br>
                от обстоятельств в мире?<br>
                <strong class="home-buy__title-highlight home-buy__title-large">Покупать!</strong>
            </p>
            <p class="home-buy__subtitle">
                <strong class="home-buy__title-highlight home-buy__subtitle-star">*</strong> И именно на этом мы предлагаем
                тебе <strong>построить свой бизнес</strong> и навсегда
                избавиться себя от страха потерять
                доход в непредвиденных обстоятельствах.
            </p>
        </div>
    </div>
</section>